form {
    
    label {
        font-size: 0.9rem;
    }

	input, textarea {
	    filter:none;
	    border:1px;
	}

    .form-control {
    	padding: 1.5rem 1rem;
    }
    .custom-select {
        height:3rem;
    }
}